PORT=5000
MONGO_URI=mongodb+srv://agrigo_user:ChangeMe123@cluster0.abcde.mongodb.net/agrigo?retryWrites=true&w=majority
JWT_SECRET=super_secure_jwt_secret_replace_me
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:8081,http://10.0.2.2:8081

FIREBASE_PROJECT_ID=agrigo-demo-project
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-demo@agrigo-demo-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASC...\n-----END PRIVATE KEY-----\n"
